.tv_details_main_container {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.tv_deatils_shadows {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.564);
    z-index: 1;
}

.tv_deatils_section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 40px;
    z-index: 2;
    position: relative;
    height: 100%;
    align-items: center;
    gap: 30px;
}

.tv_poster_details_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.tv_poster_container img {
    height: 90vh;
    width: 100vw;
    max-width: 30vw;
    border-radius: 30px;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.331);
}

.tv_poster_title h1 {
    font-size: 2.8rem;
    font-weight: 600;
    padding-bottom: 8px;
}

.tv_poster_ratings {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

.tv_poster_ratings h3 {
    font-weight: 600;
}

.tv_poster_ratings .tv_vote_average,
.FaStar,
.LiaImdb {
    color: rgb(255, 255, 0);
}

.LiaImdb {
    font-size: 1.6rem;
}

.tv_poster_ratings .tv_vote_count,
.AiFillLike {
    color: rgb(47, 222, 85);
}

.tv_poster_ratings div {
    display: flex;
    align-items: center;
    gap: 4px;
    padding-bottom: 6px;
}

.tv_poster_overview p {
    color: white;
    font-size: medium;
    font-weight: 400;
    text-wrap: wrap;
    padding-bottom: 14px;
}

.tv_poster_ratings div:not(:last-child)::after {
    content: '•';
    margin: 0 4px;
    color: #fff;
}

.whichlist {
    display: flex;
    align-items: center;
    color: white;
    gap: 4px;
}

.whichlist .MdFavorite {
    font-size: 2rem;
    color: white;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #fff;
    color: #000;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 600;
    border-radius: 14px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.watch_trailer button {
    display: flex;
    align-items: center;
    color: black;
    gap: 4px;
    background-color: #fff;
    padding: 8px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 0.8rem;
}

.watch_trailer .MdPlayCircle {
    color: red;
    font-size: 1.2rem;
}

.tv_poster_providers {
    display: flex;
    align-items: center;
    gap: 10px;
}

.officila_site a {
    display: flex;
    align-items: center;
    color: black;
    gap: 4px;
    background-color: #fff;
    padding: 8px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 0.8rem;
}

.GoHomeFill {
    font-size: 1.2rem;
}

.more_details button {
    display: flex;
    align-items: center;
    color: black;
    gap: 4px;
    background-color: #fff;
    padding: 8px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 0.8rem;
}

.nav_container {
    z-index: 10;
    color: white;
    position: absolute;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav_links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.icon_container {
    display: flex;
    align-items: center;
    gap: 4px;
}

.icon_container h1 {
    font-size: 1.7rem;
    font-weight: 600;
}

.youtube_container {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    padding: 30px;
}

.trailer_close {
    position: absolute;
    border-radius: 20px;
    bottom: 30px;
    left: 30px;
    z-index: 10;
    color: white;
    background-color: #960019ba;
    padding: 6px 10px;
    margin: 10px;
    border: 0.5px solid white;
}

.tv_actors_container {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    row-gap: 6px;
}

.tv_actors_container h1 {
    font-size: 1.2rem;
    font-weight: 600;
}

.tv_production_companies_container {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
}

.seasons_container {
    position: absolute;
    bottom: 1%;
    right: 16%;
    width: 570px;
    z-index: 2;
}

.seasons_container img {
    display: flex;
    padding: 0 5px;
    border-radius: 20px;
    height: 180px;
    width: 100%;
    /* cursor: pointer; */
}

.season-card {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}

.blur-effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(128, 128, 128, 0.288);
    backdrop-filter: blur(4px);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
}

.card-details h4 {
    font-size: 13px;
    font-weight: 500;
}

.card-details {
    line-height: 1.2;
}

.season-card:hover .blur-effect {
    opacity: 1;
}

.season-card-detail {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    color: white;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
}

.season-card:hover .season-card-detail {
    transform: translateY(0);
}

.card-overlay {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -90%); 
    background: rgba(0, 0, 0, 0.317);
    backdrop-filter: blur(4px);
    padding: 3px;
    border-radius: 50%;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out 0.3s;
}

.season-card:hover .card-overlay {
    opacity: 1;
}

.play-icon {
    font-size: 2rem;
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease-in-out 0.3s;
    padding: 2px;
    cursor: pointer;
}

.season-card:hover .play-icon {
    opacity: 1;
}
