.Cards_Conainer{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 20px;
}

.Main_card{
    height: 350px; 
    width: 100%;
    background-image: url('./../../assets/deadpol.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 40px;
}

.Second_Card{
    /* height: 350px;  */
    height: 100%;
    width: 100%;
    border-radius: 40px;
    background-color: #703C77;
    display: grid;
    align-items: center;
    justify-content: left;
    padding: 10px;
}

.Second_Card .Title{
    font-size: 30px;
    font-weight: 600;
    color: black;
}

.items {
    display: flex;
    gap: 10px;
}

.text-content h1{
    font-size: 17px;
    font-weight: 600;
}

.text-content h3{
    font-size: 12px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.thumbnail {
    width: 60px;
    height: 80px;
    border-radius: 10px;
    object-fit: cover; 
}