.icon {
  font-size: 30px;
}

.MuiBottomNavigationAction-label {
  color: #960019;
  font-weight: 800;
}

.DropDownBar .MuiBottomNavigationAction-root {
  color: white !important;
}

.DropDownBar .Mui-selected {
  color: #960019 !important;
}
