.main_container {
  width: 100%; 
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  
}

.top_search_bar{
    /* background-color: aqua;  */
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.container_main_tags{
  padding: 10px;
    display: flex;
    flex-direction:row;
    gap: 10px;
    width: 100%;
    flex: 1;
}

/* .main_content {
    height: 100%;
    flex-basis: 80%; 
    flex-grow: 1; 
  } */

    .side_tags {
    background-color: rgba(128, 128, 128, 0.477);
    height: max-content;
    flex-basis: 23%;
    border-radius: 18px;
    padding: 8px;
    /* box-sizing: border-box;  */
  }
  
  .movies_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .movie_card {
    position: relative;
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    border-radius: 12px;
  }
  
  .movie_poster {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 12px;
    transition: transform 0.3s ease;
  }
  
  .movie_hover_details {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    /* height: 40%; */
    background: rgba(249, 249, 249, 0.256);
    backdrop-filter: blur(12px);
    color: white;
    /* display: flex; */
    align-items: center;
    justify-content: left;
    padding: 10px;
    box-sizing: border-box;
    transform: translateY(100%);
    transition: transform 0.3s ease;
    border-radius: 0 0 12px 12px;
  }
  
  .movie_card:hover .movie_poster {
    transform: scale(1.1);
  }
  
  .movie_card:hover .movie_hover_details {
    transform: translateY(0);
  }
  
  .movie_title {
    font-size: 18px;
    text-align: left;
    font-weight: 700;
    margin: 0;
  }
  
  .ratings_movies_container{
    display: flex;
    gap: 10px;
  }

  .ratings_movies_container h2{
    font-size: small;
    font-weight: 400;
  }


  .rating_movie{
    display: flex;
    align-items: center;
    gap: 3px;
    color: rgb(228, 228, 13);

  }
  .vots_movie{
    display: flex;
    align-items: center;
    gap: 3px;
    color: rgb(47, 222, 85);

  }

  .genres_movie_page{
    display: flex;
    gap: 4px;
  }

  .genre_movie{
    padding: 6px;
  }


  @media (max-width: 600px) {
    .movies_grid {
      gap: 10px;
    }
    .movie_title {
      font-size: 16px;
    }
  }



.tags{
    display:inline-block;
    padding: 6px;
}
/* 
.custom_select{
    display: flex; 
    align-items: center;
    padding: 10px;
} */

.custom_select {
    background-color: #121212;
    color: white;
    padding: 6px 12px;
    border: 2px solid #333;
    border-radius: 24px;
    font-size: 16px;
    font-weight:600;
    outline: none; 
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none; 
  }
  

  
  .custom_select:hover,
  .custom_select:focus {
    border-color: #ab2037d2;
  }
  
  .custom_select option {
    background-color: #121212;
    color: white;
    padding: 10px;
    border-radius: 10px;
  }
  
  @media (max-width: 600px) {
    .custom_select {
      font-size: 14px;
      padding: 6px 12px;
    }
  }

  .pagination_container {
    margin-top: auto; 
    padding: 20px;
    text-align: center;
    
}